body {
color: #494949;
font-family: 'Lora', serif;
font-size: 18px;
line-height: 1.6;
font-weight: lighter;
margin: 0;
}

.banner {
background-image: url(https://source.unsplash.com/random/1000x500);
background-size: cover;
color: white;
padding: 120px 0;
margin: 40px auto;
}

.container {
  margin: 50px 0;
  width: 700px;
  padding-left: 50px;
  margin: 50px auto;
}

.banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #A0A0A0;
}

.link-medium {
background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
line-height: 1.6;
color: #636363;
font-size: 25px;
font-style: italic;
}

.link-medium:hover {
  background-image: linear-gradient(to bottom, rgb(174, 236, 210), rgb(121, 236, 211));
  line-height: 1.6;
  color: #636363(189, 189, 189);
  font-size: 25px;
  font-style: italic;
  }

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: grey;
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}
